<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" />
        <title>File Q | Landing</title>
    </head>
    <body>
        <header>
            <a href="/"
                ><img
                    class="logo"
                    src="/images/Nav-File-Q-Transparent.png"
                    alt="logo"
            /></a>
            <div class="nav-list">
                <nav>
                    <ul class="nav__ul">
                        <li>
                            <a href="#hero-overview" class="overview"
                                >Overview
                                <div class="ul_overview"></div
                            ></a>
                        </li>
                        <li>
                            <a href="#features-link" class="features"
                                >Features
                                <div class="ul_features"></div
                            ></a>
                        </li>
                        <li>
                            <a href="#pricing-section" class="pricing"
                                >Pricing
                                <div class="ul_pricing"></div
                            ></a>
                        </li>
                        <li>
                            <a href="#" class="support"
                                >Support
                                <div class="ul_support"></div
                            ></a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="buttons">
                <a href="loginpage.html">Login</a>
                <a href="registerpage.html">Sign Up</a>
            </div>
        </header>
        <hr />
        <main>
            <div class="hero-section" id="hero-overview">
                <div class="hero-text">
                    <h1 class="hero-title-dark">Simple and <span class="hero-title-dark hero-animm">Secure</span> </h1>
                    <h1 class="hero-title-light">Cloud Storage</h1>
                    <p class="hero-description">
                        Store your files and folders remotely,<br />
                        Access like stored locally <br />
                        from your mobile device or computer.
                    </p>
                    <h2 class="hero-sub-heading">
                        Create Your Account To Claim Your Free 1 GB!
                    </h2>
                    <div class="hero-button">
                        <a href="#">Create Account</a>
                    </div>
                </div>
                <div class="hero-img">
                    <img
                        src="/images/hero-img.png"
                        alt="image"
                        class="hero-image"
                        style="height: 70rem"
                    />
                </div>
            </div>
            <hr style="color: #6979b5; opacity: 50%" />
            <h3 class="features-heading">
                <a href="#">See all Features of File Q</a>
            </h3>
            <div class="features-container" id="features-link">
                <div class="features-card">
                    <div class="features-text">
                        <h2>Extra Storage on the go</h2>
                        <p>
                            Take some backup option along everywhere you go, so
                            you can lose the fear of running out of space.
                        </p>
                    </div>
                    <div class="features-img">
                        <img
                            src="/images/storage.png"
                            alt="image"
                            class="features-image-1"
                        />
                    </div>
                </div>
                <div class="features-card">
                    <div class="features-text">
                        <h2>Files Accessible from Anywhere</h2>
                        <p>
                            File Q allows you to access or upload your files
                            from anywhere and from any device.
                        </p>
                    </div>
                    <div class="features-img">
                        <img
                            src="/images/connected.gif"
                            alt="features-image"
                            class="features-image-2"
                        />
                    </div>
                </div>
                <div class="features-card">
                    <div class="features-text">
                        <h2>Files don't even leave your house</h2>
                        <p>
                            The files are saved on your own personal server so
                            there is no issue of data selling or theft as only
                            you have access to your data.
                        </p>
                    </div>
                    <div class="features-img">
                        <img
                            src="/images/home.jpg"
                            alt="features-image"
                            class="features-image-3"
                        />
                    </div>
                </div>
                <div class="features-card">
                    <div class="features-text">
                        <h2>Easily Collaborate using Links</h2>
                        <p>
                            File Q allows you to send a link of your files to
                            anyone, which allows collaboration.
                        </p>
                    </div>
                    <div class="features-img">
                        <img
                            src="/images/share.jpg"
                            alt="features-image"
                            class="features-image-3"
                        />
                    </div>
                </div>
            </div>
            <div class="divider">
                <hr style="color: #6979b5; opacity: 50%" />
                <h1>Pricing</h1>
            </div>
            <div class="pricing" id="pricing-section">
                <div class="pricing_card_container">
                    <!-- Free Tier -->

                    <div class="pricing_card">
                        <div class="grad pricing_card_grad_1">
                            <h1 class="price_tier_name">Free Tier</h1>
                        </div>
                        <div class="cost">
                            <h2 class="price_value">₹ 0</h2>
                        </div>
                        <div class="benefits_heading_container">
                            <h3 class="benefits_heading">Benefits</h3>
                        </div>
                        <ul class="tier_benefit_list">
                            <li class="tier_benefits">Access To Software</li>
                            <li class="tier_benefits">1Gb of Free Storage</li>
                            <li class="tier_benefits">
                                Life Long Subscription
                            </li>
                        </ul>
                        <div class="cta_button cta_button_1">
                            <h1 class="cta_heading">
                                <a href="#">Create Account</a>
                            </h1>
                        </div>
                    </div>

                    <!-- Second Tier -->

                    <div class="pricing_card">
                        <div class="grad pricing_card_grad_2">
                            <h1 class="price_tier_name">Starter Tier</h1>
                        </div>
                        <div class="cost">
                            <h2 class="price_value">₹ 690</h2>
                        </div>
                        <div class="benefits_heading_container">
                            <h3 class="benefits_heading">Benefits</h3>
                        </div>
                        <ul class="tier_benefit_list">
                            <li class="tier_benefits">15Gb Free + 20Gb Storage</li>
                            <li class="tier_benefits">Link Sharing Feature</li>
                            <li class="tier_benefits">
                                3 Months + 1 Month Free
                            </li>
                        </ul>
                        <div class="cta_button cta_button_2">
                            <h1 class="cta_heading">
                                <a href="#">Buy Now</a>
                            </h1>
                        </div>
                    </div>

                    <!-- Highest Tier -->

                    <div class="pricing_card">
                        <div class="grad pricing_card_grad_3">
                            <h1 class="price_tier_name">Premium Tier</h1>
                        </div>
                        <div class="cost">
                            <h2 class="price_value">₹ 1420</h2>
                        </div>
                        <div class="benefits_heading_container">
                            <h3 class="benefits_heading">Benefits</h3>
                        </div>
                        <ul class="tier_benefit_list">
                            <li class="tier_benefits">All in Starter</li>
                            <li class="tier_benefits">69Gb Free + 60Gb Storage</li>
                            <li class="tier_benefits">
                                12 Months + 3 Months Free
                            </li>
                        </ul>
                        <div class="cta_button cta_button_3">
                            <h1 class="cta_heading">
                                <a href="#">Buy Now</a>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div class="divider_2"></div>
        <footer>
            <img
                src="/images/File Q Logo Transparent.png"
                alt=""
                style="height: 30rem; margin-left: 45%"
            />
            <p class="copyright">©File Q 2022-23</p>
        </footer>
    </body>
</html>